@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Define the custom grid layout */
.grid-rows-layout {
  grid-template-rows: auto 1fr;
  /* Topbar height, and then main content */
}

.grid-cols-layout {
  grid-template-columns: 16rem 1fr;
  /* Navbar width, and then main content */
}

.scrollbar-hide {
  overflow: -moz-hidden-unscrollable;
  /* Firefox */
  overflow: hidden;
  /* Hide scrollbar */
  overflow-y: scroll;
  /* Allows scrolling */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}